[{{ $length := len .data }}{{ $index := 0 }}
{{ range .data }}
  {{ $index = add $index 1 }}
  {{ if eq .type "organizations" }}
{
  "tf-external_id": "{{ index .attributes "external-id" }}",
  "external_id": "{{ index . "id" }}",
  "two-factor-conformant": "{{ index . "two-factor-conformant" }}",
  "name": "{{ index .attributes "name" }}",
  "created_at": "{{ index .attributes "created-at" }}",
  "updated_at": "{{ index .attributes "updated-at" }}",
  "email": "{{ index .attributes "email" }}",
  "plan-expired": "{{ index .attributes "plan-expired" }}",
  "plan-is-enterprise": "{{ index .attributes "plan-is-enterprise" }}",
  "plan-is-trial": "{{ index .attributes "plan-is-trial" }}"
}{{ if lt $index $length }},{{ end }}
  {{ end }}
{{ end }}
]