[{{ $length := len .data }}{{ $index := 0 }}
{{ range .data }}
  {{ $index = add $index 1 }}
  {{ if eq .type "workspaces" }}
{
  "external_id": "{{ index .attributes "vcs-repo" "repository-http-url" }}-{{ or (index .attributes "vcs-repo" "branch") "main" }}",
  "parent_external_id": "{{ .id }}",
  "name": "{{ index .attributes "vcs-repo-identifier" }}",
  "ingress-submodules": "{{ index .attributes "ingress-submodules" }}",
  "tags-regex": "{{ index .attributes "tags-regex" }}",
  "github-app-installation-id": "{{ index .attributes "github-app-installation-id" }}",
  "repository-http-url": "{{ index .attributes "vcs-repo" "repository-http-url" }}",
  "service-provider": "{{ index .attributes "vcs-repo" "service-provider" }}"
}{{ if lt $index $length }},{{ end }}
  {{ end }}
{{ end }}
]