[{{ $length := len .data }}{{ $index := 0 }}
{{ range .data }}
  {{ $index = add $index 1 }}
  {{ if eq .type "workspaces" }}
{
  "a_id": "{{ .id }}",
  "b_id": "{{ .relationships.organization.data.id }}"
}{{ if lt $index $length }},{{ end }}
  {{ end }}
{{ end }}
]